html,
body,
#app {
    height: 100%;
    background-color: var(--ds-surface, #fff);
    color: var(--ds-text, #172B4D);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857142857143;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}



